.containor{
  width: 90vw;
  height: 51rem
}
  
  .head {
     margin-left: -60%;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -4px;
      margin-bottom: 30px;
      left: 8%;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: 82%;
      bottom: -5px;
      margin-left: 20px;
      opacity: 0.6;
    //  margin-bottom: 10px;
    }
  }


.containor.contact-page, 
    h1 {
      font-size: 56px;
      font-family:'Inter Tight', sans-serif;
      color: #fff;
      font-weight: 800;
      margin-top: 6rem;
      position: relative;
      margin-bottom: 20px;
      left: 30px;
      width: 140rem;
  //   border: solid 20px red;


    }

    .text-zane {
      position: absolute;
      left: 8%;
      top: -10rem;
      margin-top: 4rem;
      margin-bottom: 40px;
      transform: translateY(-50%);
      width: 80vw;
      height: 24vh;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;
    //  border: solid 20px red;
    }
  
    
    .parac {
      font-size: 21px;
      color: #fff;
      font-family: 'Inter ', sans-serif;
      font-weight: 400;
      max-width: 100%;
      margin-left: 16rem;
      margin-top: 7rem;
      margin-bottom: -10%;
      text-align: left;
      animation: pulse 1s;
      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }

  
    .contact-form {
      width: 80vw;
      max-width: 80vw; /* Set a maximum width for the form */
      margin-top: 10%; /* Center the form */
      margin-left: 1%;
      padding: 20px; /* Add some padding around the form */
      
    }
    
    .form-row {
      display: flex; /* Use Flexbox for alignment */
      justify-content: space-between; /* Space out the inputs */
      margin-bottom: 20px; /* Add some space below each row */
    }

    .head {
    //  border: #ffd700 solid 2px;
      margin-top: 6.5%;
      margin-left: 0%;
      margin-bottom: -2%;
      width: 26%;
    }
    
    input[type='text'], input[type='email'], textarea {
      width: 49%; /* Adjust based on your preference */
      border: 0;
      background-color: rgba(17, 25, 40, 0.83);
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
      outline:none;
      position: relative;
      transition: border 0.3s ease-in-out; /* Smooth transition for the outline */
      border: 2px solid transparent; /* Initial transparent border */
    }
    
    input[type='text']:focus, input[type='email']:focus, textarea:focus {
      border-bottom: 2px solid #8b55e9 ; /* Border color on focus */
    
    }
   // #854CE6 color:hsl(262, 83%, 52%)			
    
    input[type='text']::after, input[type='email']::after, textarea::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
     // background: #ffd700;
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 0.3s ease-in-out;
    }
    
    input[type='text']:focus::after, input[type='email']:focus::after, textarea:focus::after {
      transform: scaleX(1);
    }
// input[type='text']:not(:placeholder-shown), input[type='email']:not(:placeholder-shown), textarea:not(:placeholder-shown) {
//   border-bottom: 2px solid #5a12c7e3; /* Bottom border always visible */
// }
    

    textarea {
      width: 100%; /* Full width for the textarea */
      min-height: 150px; /* Minimum height for the textarea */
    }
    .sub{
    //  border: solid red 2px !important;
      width: 100% !important;
    }
    
  

      .flot-button {
        color: #ffd700;
        font-size: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        float: left;
        border-radius: 4px;
        background: 0 0;
        text-transform: uppercase;
        float: right;
        text-align: center;
        margin-right: 10px;
        
        &:hover{
          background: #ffd700;
          color: rgb(72, 61, 139);
          cursor: pointer;

        }
      }
    
    

    

  .map-wrap {
   // background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 53%;
    height: 90%;
   margin-top: 2%;
   //margin-right: 6% ;
    //border: solid red;
  }
  
  .leaflet-container {
    position: relative;
    width: 100%;
    height: 90vh;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
 //   border: solid pink;
    left: 0%;
  }
  
  .info-map {
    position: absolute;
    background: #000;
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
   // border: solid brown 10px;
  
    span {
      font-size: 16px;
  
      span {
        color: #ffd700;
      }
    }
  }


  @media screen and (max-width: 1200px) {
    .map-wrap {
      float: none;
      margin: 0;
      width: 100%;
      height: 100px;
    }

    // .text-zane {
    //   margin-top: 48.5%;
    //   margin-left: -11.5%;
    // }
    

    .head {
      width: 120%;
      font-family: 'Coolvetica';
      font-size: 53px;
      font-weight: 400;
    //  padding-top: 370px;
      left: -28%;
      margin-left: 15%;
    
      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: -8px;
        left: 12%;
        opacity: 0.6;
        line-height: 18px;
      }
  
      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: 76%;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
     //   border: #ffd700 solid 2px;
      }

    }
  }
@media screen and (min-width: 1069px) and (max-width: 1200px) {
  .text-zane{
    left: 16%;
    top: -48.5rem;
  }
  .leaflet-container{
    height: 122vh;
    width: 50%;
    left: 50%;
   top: 3.05em;
   //border: solid red;

  }
 .parec{
 // border: solid red;
  width: 126%;
  margin-left: -34px;
 }
  .parac {
    font-size: 18px;
    width: 240%;
  //  border: solid red;
  }
  
}
@media screen and (min-width: 869px) and (max-width: 1068px) {
  .containor {
  //  border: solid red;
    height: 100vh;
  }

  .parac{
    width: 190%;
    max-width: 960px;
   // border: solid red;
    margin-left: 17%;
    margin-bottom: 6%;
    margin-top: 4%;
    font-size: 24px;
    
  }
  .parec {
    margin-top: 4%;
    margin-bottom: -18%;
    
   }
  .contact-form {
    width: 230%;
    max-width: 960px;
    margin-left: 12%;
    margin-top: 20%;
  }
  .leaflet-container{
    height: 34vh;
    width: 76%;
    left: 12%;
   top: 56em;
  // border: solid red;
  }
  
    .info-map {
      //border: solid red;
      top: 80%;
      right: 0%;
    }
    .text-zane {
      width: 40%;
      margin-left: -21.75%;
      margin-top: 27.5%;
    }

    .head {
      margin-bottom: 10%;
      width: 80%;
      left: 1%;
    }

  
  }

  @media screen and (max-width: 1025px) and (min-height: 1366px) {
    .containor {
      height: 43vh;
    }


    .head {
      margin-top: 32%;
    }
    .parac {
      font-size: 24px;
      width: 190%;
      margin-left: 19%;
    }
  }

    @media screen and (max-width: 968px) {

     .containor {
      height: 42vh;
     }

    .text-zane{
      margin-top: 48rem;
      margin-left: -17.5%;
      width: 24%;
    }
    .parec{
      margin-top: 16%;
     // margin-bottom: 0px;
      width: 110%;
      border: #ffd700;
      
    }
    .parac{
     font-size: 21px;
     margin-left: 18%;
     width: 90vw;
     margin-bottom: 14%;

    }

.leaflet-container{
    height: 36vh;
    width: 80%;
    left: 12%;
    top: 59rem;
 //  border: solid red;
  }

  .head{
    margin-left: 26%;
  }

}

@media screen and (max-width: 868px) {
  .containor {
    height: 46vh;
   }


  .text-zane{
    margin-top: 59.5rem;
    margin-left: -19%;
  }
  .parec{
    width: 108%;
    
  }
  .parac{
   font-size: 21px;
  }

.leaflet-container{
  height: 36vh;
  width: 80%;
  left: 12%;
  top: 70rem;
 //border: solid red;
}

.contact-form{
  margin-left: 4%;
  width: 72.5rem;
}
  
.head {
  margin-top: -2%;
  margin-left: 26%;

  &:before {
    content: '<h1>';
  
    margin-top: -6px;
    left: -2rem;
    opacity: 0.6;
    line-height: 18px;
  }

  &:after {
    content: '<h1/>';
 
    left: 89%;
    bottom: -6px;
    margin-left: 3rem;
    opacity: 0.6;
  }
}

}



@media screen and (max-width: 760px) {
  .containor {
    height: 62vh;
   }

  .head {
    left: -21%;
   // border: solid red;
    width: 165%;
    margin-top: 23.5rem;
    margin-bottom: 16px;

    &:before {
      content: '<h1>';
    
      margin-top: -6px;
      left: 5%;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      content: '<h1/>';
   
      left: 89%;
      bottom: -6px;
      margin-left: -4px;
      opacity: 0.6;
    }

  }
  .text-zane {
    margin-top: 18%;
    margin-left: -17%;
    width: 19%;
  }

  

  .contact-form{
    margin-left: -4%;
    width: 50rem;
  }

}

@media screen and (max-width: 468px) {
  .containor {
    height: 42vh;
  }
  .head {
    left: -24%;
  //  border: solid red;
    width: 188%;
    margin-top: 15.75rem;
   
    &:before {
      content: '<h1>';
    
      margin-top: -9px;
      left: -1%;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      content: '<h1/>';
     width: 20%;
      left: 86%;
      bottom: -8px;
      margin-left: 24px;
      opacity: 0.6;
    }
  }

  .text-zane {
    
    margin-top: 24%;
    margin-left: -14rem;
      left: 10.55%;
     //margin-top: 22%;
     width: 11%;
    
  }

  .parac{
    margin-left: 14%;
    font-size: 18px;
  }

  .contact-form {
    margin-left: -17.5%;
  }

}


@media screen and (max-width: 396px) {
  .head {
    left: -32%;
  //  border: solid red;
    width: 210%;
    margin-top: 19rem;

  }

  .text-zane {
    left: 10.25%;
   margin-top: 22%;
   width: 10%;
  }

  .parec {
    left: -50%;
  }

  .containor {
    height: 50vh;
  }

}

@media screen and (max-width: 356px) {
  .head {
    left: -34%;
  //  border: solid red;
    width: 220%;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
 
  }

  .text-zane {
    
    margin-top: 36%;
    margin-left: -11.75%;
  }

  .parac{
    margin-left: 26%;
    font-size: 17px;
  }

  .contact-form{
   margin-left: -13%;
   width: 32rem;
  }

  .containor {
    height: 40vh;
  }

}

 .deets{
  position: relative;
  margin-top: 10%;
  width: 80vw;
  height: 10vh;
 // border: solid red 10px;
 }

 @media (min-width: 670px) and (max-height: 450px) and (min-height: 361px) {
  .containor {
   // border: #000 solid 2px;
    height: 130vh;
  }

  .head {
    margin-top: -34%;
  }

}


 @media (min-width: 670px) and (max-height: 360px) and (min-height: 345px) {
  .containor{
 //   border: #8b55e9 solid 2px;
    height: 124vh ;
  } 

  .head {
    margin-top: 26%;
  }

  .contact-form {
    margin-left: 4%;
  }

}


 @media (min-width: 667px) and (max-height: 380px) and (min-height: 375px) {
  .containor {
  // border: #ffd700 solid 2px;
   height: 124vh;
  }
  
  .head {
    margin-top: 46%;
  }

  .contact-form {
    margin-left: 2%;
  }

}

@media (min-width: 720px) and (max-height: 540px) {
  .containor{
    height: 134vh;
  }

  .head {
    margin-top: 79%;
  }

  .contact-form {
    margin-left: 2%;
    width: 65rem;
  }
}

@media (min-width: 870px) and (min-height: 340px) and (max-height: 344px) {
  .containor{
    height: 176vh;
    
  }

  .head {
    margin-top: -6%;
  }

  .contact-form {
    margin-left: 7%;
  }
}


@media (min-width: 840px)and (min-height: 345px) and (max-height: 400px) {
  .containor{
    height: 130vh;
    
  }

  .head {
    margin-top: -40%;
  }

  .contact-form {
    margin-left: 7%;
  }
}

@media (min-width: 890px) and (max-height: 434px) {
  .containor{
    height: 146vh;
    
  }

  .head {
    margin-top: -4.5%;
  }

  .contact-form {
    margin-left: 7%;
  }
}


@media (min-width: 1000px) and  (min-height: 760px) and (max-height: 819px) {
  .containor {
    height: 90vh;
  }
  
  .head {
        margin-top: 15%;
        width: 80%;
       // border: solid red 2px;
        left:-28%;
    }

    .text-zane {
      margin-left:-15.5%;
    }

    .parac {
      font-size: 24px;
      margin-left: 6%;
      //width: 290%;
      margin-bottom: -9%;
    }

    .contact-form {
      margin-left: -6%;
    }
}

@media (min-width: 1200px) and  (min-height: 760px) and (max-height: 819px) {
  .containor{
   // border: #8b55e9 solid 2px;
   height: 0vh;
  } 

  .head {
    margin-top: -2%;
    width: 38%;
    left: -11%;
    margin-bottom: 2%;
  }
  
  .text-zane {
    margin-left: 1%;
  }
  
  .parac {
    margin-left: -3.5%;
  }
 
}

@media (min-width: 1000px) and  (min-height: 819px) and (max-height: 852px) {
  .containor {

    height: 0vh;
  } 
  
  .head {
    left: -17%;
    width: 38%;
    margin-top: 40%;
    margin-bottom: 2%;

   }

   .text-zane {
    margin-left: -11%;
    margin-top: 10%;
   
   }
   .parac{
    font-size: 24px;
    margin-left: 5.5%;
    width: 80%;
    
   }

   .contact-form {
    margin-top: 14%;
   }

}

@media (min-width: 1000px) and  (min-height: 853px) and (max-height: 911px) {
  .containor {
    height: 0vh;
  }

  .head {
    width: 40%;
    margin-top: -5%;
    margin-bottom: 4%;
  }

  .parac {
    font-size: 24px;
  }
}

@media (min-width: 1100px) and (min-height: 912px) and (max-height: 1024px) {
    .containor {
      height: 1vh;
     // border: #ffd700 solid 2px;
    }

    .head {
      margin-top: 40%;
      width: 35%;
    }
    .parac{
      font-size: 24px;
    }

}

@media (min-width: 1281px) and (max-height: 1024px) {
  .containor {
    height: 49vh;
  }

  .head {
    margin-top: 5%;
    margin-bottom: -2%;
  }
 
  .parac{
    font-size: 24px;
  }
}


