
 


.hd {
    //  border: solid red;
      position: relative;
      top: 22.05%;
      left: -2%;
      width: 35%;
    
      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 1px;
        left: 25%;
        opacity: 0.6;
        line-height: 18px;
      }
    
      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: 62%;
        bottom: -10px;
        margin-left: 50px;
        opacity: 0.6;
      }
    }

.contanr {
    height: fit-content;
    border: solid brown 10px;
    margin-top: 72px;
    margin-bottom: 100px;
  }
    
  @media (min-width: 360px) and (max-width: 767px) {
    .hd {
      width: 82%;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 1px;
        left: 25%;
        opacity: 0.6;
        line-height: 18px;
      }
    
      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: 62%;
        bottom: -10px;
        margin-left: 50px;
        opacity: 0.6;
      }
    }

    
    .skills-container > * {
      flex-basis: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .skills-container > * {
      flex-basis: calc(50% - 1px); /* Adjusting for margins/padding */
      // margin-left: -6%;
    }
  }

  @media (min-width: 1025px) {
    .skills-container > * {
      flex-basis: calc(30.333% - 5px); /* Assuming three columns, adjust as needed */
      margin-left: 50px;
      //gap: -130%;
    }
  }
  


  @media (min-width: 412px) and (max-width: 767px) {
  .hd {
    border: #ffd700 solid;
  }  

}